@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --themecolor: #46919a;
  --hovercolor: black;
  --bgcolor: #ecf0f3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}

body {
  /*  background: linear-gradient(to top right, magenta 0%, hotpink 100%);*/
  /* background-color: rgba(229,230,232,0.6);*/
  /*box-shadow: 5px 5px 100px 5px rgba(255,255,255,.8);*/
  color: #555;
  background: var(--bgcolor);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.resume {
  width: 8.5in;
  height: 12in;
  /*  width: 800px;
  height: auto;*/
  border-radius: 5px;
  background: var(--bgcolor);
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}
.top {
  width: 8.5in;
  display: block;
}
.top .image {
  width: 115px;
  height: 115px;
}

.top .image img {
  margin-left: 35px;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.primaryinfo {
  margin-left: 190px;
  margin-top: -95px;
}

.fullName {
  font-size: 35px;
  font-style: bold;
  color: black;
  margin-bottom: 5px;
}

.title {
  font-size: 19px;
  color: var(--themecolor);
  margin-bottom: 5px;
}

.about {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}

.fa-external-link {
  color: var(--themecolor);
  font-size: 13.5px;
  margin-left: 2.5px;
}
/*------------------------------------------------------------*/
.line {
  width: 100%;
  height: 40px;
  background-color: var(--themecolor);
  display: flex;
  flex-direction: row;
}

.fa-envelope {
  color: white;
  margin-left: 35px;
  margin-top: 12.5px;
}
.email {
  margin-top: 13.5px;
  margin-left: 10px;
  color: white;
  font-size: 10px;
  display: flex;
}
.email:hover {
  text-decoration-color: white;
  text-decoration: underline;
}
/*------------------*/
.fa-mobile {
  color: white;
  margin-left: 25px;
  margin-top: 12.5px;
}

.phone {
  margin-top: 13.5px;
  margin-left: 10px;
  color: white;
  font-size: 12px;
  display: flex;
}
/*------------------*/
.fa-map-marker {
  color: white;
  margin-left: 25px;
  margin-top: 12.5px;
}
.map {
  margin-top: 13.5px;
  margin-left: 10px;
  color: white;
  font-size: 12px;
  display: flex;
}

/*------------------*/
a {
  color: white;
  text-decoration: none;
}
.fa-linkedin-square {
  color: white;
  margin-left: 25px;
  margin-top: 12px;
}
.linkedin {
  margin-top: 13.5px;
  margin-left: 10px;
  color: white;
  font-size: 12px;
  display: flex;
}
.linkedin:hover {
  text-decoration-color: white;
  text-decoration: underline;
}
/*------------------*/
.fa-github {
  color: white;
  margin-left: 25px;
  margin-top: 12.5px;
}

.git {
  margin-top: 13.5px;
  margin-left: 10px;
  color: white;
  font-size: 12px;
  display: flex;
}

.git:hover {
  text-decoration-color: white;
  text-decoration: underline;
}
/*-----------------------------------------------------------------------------*/

.resbody {
  flex-direction: row;
}

#left {
  float: left;
  width: 49%;
  display: inline-block;
}

.leftheading {
  color: var(--themecolor);
  font-size: 11px;
  font-weight: bold;
  margin-left: 35px;
  margin-top: 15px;
  display: flex;
}

.sectionGap {
  margin-bottom: 50px;
}

.sectionGapAfter {
  margin-top: 35.25px;
}

.sideline {
  width: 4%;
  height: 2px;
  background-color: var(--themecolor);
  margin-top: 25px;
  display: block;
}

/*-----------------------------------------------------------------------------------------*/
.bsc {
  font-size: 10.5px;
  color: black;
  font-weight: bold;
  display: block;
  margin-left: 35px;
  margin-top: -12.5px;
}
.uni {
  color: black;
  display: block;
  margin-left: 35px;
  font-size: 19px;
  margin-bottom: 5px;
}
.timeGPA {
  display: block;
  height: 14px;
}
#time {
  float: left;
  width: auto;
  font-style: italic;
  color: var(--themecolor);
  font-size: 13px;
  margin-left: 35px;
}
#gpa {
  color: var(--themecolor);
  float: right;
  width: auto;
  margin-left: 35px;
  font-size: 13px;
  font-style: italic;
}
.uniproj {
  color: var(--themecolor);
  font-size: 13px;
  font-style: italic;
  margin-top: 5px;
  margin-left: 35px;
  margin-bottom: 10px;
}

.circle {
  width: 6px;
  height: 6px;
  background-color: var(--themecolor);
  border-radius: 50%;
  margin-left: 36px;
  display: flex;
  margin-top: 10px;
}
.listdiv > ul > li > a {
  color: black;
  display: block;
  margin-left: 50px;
  margin-top: -11.5px;
  font-size: 16px;
}

.listdiv > ul > li > a:hover {
  text-decoration: underline;
  color: var(--hovercolor);
}

.projects {
}

.projLi > ul > li > a {
  margin-top: 25px;
  margin-left: 35px;
  color: black;
  font-size: 15.5px;
  margin-bottom: 15px;
}

.projLi > ul > li > a:hover {
  text-decoration: underline;
}

.projDesc {
  color: black;
  display: block;
  margin-left: 50px;
  margin-top: -10px;
  font-size: 14px;
}

.projGAP {
  margin-bottom: 10px;
}

.experience {
}

.expLi > ul > li {
  margin-left: 50px;
  margin-top: -12px;
  color: black;
  font-size: 15.5px;
  margin-bottom: 16px;
}

.expLi > ul > li > a {
  color: black;
  font-size: 15px;
}

.expLi > ul > li > a:hover {
  text-decoration: underline;
}

.achievements {
}

.achiLi > ul > li {
  margin-left: 35px;
  color: black;
  font-size: 15.5px;
  margin-bottom: 12px;
}

.achiLi > ul > li > a {
  color: black;
  font-size: 15.5px;
}

.achiLi > ul > li > a:hover {
  text-decoration: underline;
}

/*..................................................................................................*/
#right {
  float: right;
  width: 48%;
  display: inline-block;
}

.rightheading {
  color: var(--themecolor);
  font-size: 11px;
  font-weight: bold;
  margin-top: 15px;
  display: flex;
}

.sectionGapRight {
  margin-bottom: 30px;
}

.techSkill {
}
.skill {
  display: inline-block;
  margin-top: 12.5px;
  height: 25px;
  width: auto;
  padding-top: 2px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  border: 1px solid var(--themecolor);
  background-color: var(--themecolor);
  color: white;
  border-radius: 5px;
  text-align: center;
}

.skill:hover {
  display: inline-block;
  margin-top: 12.5px;
  height: 25px;
  width: auto;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  border: 1px solid black;
  background-color: var(--bgcolor);
  color: black;
  border-radius: 5px;
  text-align: center;
}

.softSkill {
}

.lang > ul > li {
  color: black;
  display: inline;
  font-size: 15px;
}

.langcircle {
  float: right;
  width: 14px;
  height: 14px;
  background-color: var(--themecolor);
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
}

.lastcircle {
  float: right;
  width: 14px;
  height: 14px;
  background-color: var(--themecolor);
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 120px;
}

.langcirclewhite {
  float: right;
  width: 14px;
  height: 14px;
  border: 2.5px solid var(--themecolor);
  background-color: var(--bgcolor);
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 120px;
}

.interest {
  display: inline-block;
  margin-top: 12.5px;
  height: 25px;
  width: auto;
  padding-top: 2px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  border: 1px solid black;
  background-color: var(--bgcolor);
  color: black;
  border-radius: 5px;
  text-align: center;
}

.interest:hover {
  display: inline-block;
  margin-top: 12.5px;
  height: 25px;
  width: auto;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  border: 1px solid var(--themecolor);
  background-color: var(--themecolor);
  color: white;
  border-radius: 5px;
  text-align: center;
}

.ref {
}
.refLi {
  color: black;
  font-size: 15px;
}
.refdes {
  margin-top: 5px;
  color: black;
  display: block;
  font-size: 14px;
  font-style: italic;
}
.refcon {
  color: var(--themecolor);
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.refcon > a {
  margin-left: 5px;
  color: black;
  font-size: 14px;
}

.refcon > a:hover {
  text-decoration: underline;
}

.refGap {
  margin-top: 12px;
}

/*-------------------------------------------------------------------------------*/

@media print {
  html {
    height: 11in;
    width: 8.5in;
    overflow: hidden;
  }

  body {
    margin: 0;
  }

  .resume {
    width: 100%;
    box-shadow: none;
  }
}
